.eventTableContainer {
    position: relative;
    box-sizing: border-box;
    padding:1%;
    min-height: 85vh;
    max-height: 85vh;
    overflow: auto;
    border: 1px solid black;
    border-top: none;
    display: flex;
    margin-left:-0.5%;
    flex-direction: column;
}

.eventTableEntry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid gray;
    margin:0;
    padding-left: 1%;
    padding-bottom:1%;
}

.entryTimeStamp, .entry_raw {
    width:40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 0%;
    font-size: 0.8rem;
}

.eventTableEntry:nth-of-type(odd) {
    background-color: white;
}

.eventTableEntry:nth-of-type(even) {
    background-color: aliceblue;
}