.App {
  text-align: center;
  overflow: hidden;
  background-color: bisque;
}

.sidebarTableContainer {
  display: flex;
  flex-direction: row;
  margin:0 0.815%;
}

.sidebarTableContainer > div {
  min-width: 73.84%;
  margin-left: 0;
}
.sidebarTableContainer > div:first-of-type {
  min-width: 26%;
  margin-right: 0;
}
